body{
	font-family: 'Rubik', sans-serif;
	background-color: white;
	font-size: 1.8em;
}
.container{
	padding: 20px 0 0 0;
	margin: 0;
}
.jumbotron{
	padding: 30px;

}
#image_profile{
	float: right;
	width: 230px;
}

.img-circular
{
    border-radius: 50%;
    width: 100%;
    border: 5px solid white;
}
h1{
	padding: 0;
	margin: 0;
}
.white-color{
	color: white !important;
}
.float_none {
   float: none !important;
   position: relative;
   top: -50px !important;
}
.background-black{
	background-color: black;
}
.contacto{
	background-color: #F63F45;
	color: white;
	padding: 10px 0 30px 10px;
}
.contacto h3{
	margin-top: 30px;
}
.contacto li img{
	width: 35px;
	height: 35px;
	margin: 0 20px 0 10px;
}
.contacto li{
	padding: 10px;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
li{
	padding: 0;
	margin: 0;
}
.languages{
	background-color: #A3B327;
	position: relative;
	top: -10px !important;
	padding: 5px 20px 30px 20px;
}
.skills{
	background-color: #4988A9;
	position: relative;
	top: -40px !important;
	padding: 5px 20px 30px 20px;
}
.hobbies{
	background-color: #F7752A;
	position: relative;
	top: -60px !important;
	padding: 5px 20px 10px 20px;
}
.hobbies li{
    display: inline;
}
.hobbies li img{
	width: 50px;
	height: 50px;
	margin: 5px 20px 5px 10px;
}
.progress {
	 background: rgba(170, 170, 170, 1);
	 border: 2px solid rgba(255, 255, 255, 1); 
	 border-radius: 5px; height: 10px;
}
.progress-bar-custom {
	background: rgba(255, 255, 255, 1);
}
.img_data{
	margin-top: 10px;
	padding: 0px;
	width: 70px;
	height: 70px;
}
h3{
	color: #B7B7B7;
	display: inline;
}
h4{
	padding-left: 10px;
	color: #E6CF75;
	display: inline;
	font-size: 1.3em;
}
.profile{
	background-color: white;
}
.h2-inline{
	display: inline;
}
.award{
		padding-top: 20px;
			/*
            background-size: 8%;
            padding-left: 50px;
            padding-top: 25px;*/
        }

.awardLast{

		padding-top: 20px;
			/*
            background-size: 8%;
            padding-left: 50px;
            padding-top: 35px;*/
}

.net{
	background-color: #C47BD0;
	position: relative;
	top: -60px !important;
	padding: 5px 20px 30px 20px;
}
.net li{
    display: inline;
}
.net li img{
	display: inline;
	width: 50px;
	height: 50px;
	margin: 5px 20px 5px 10px;
}

#topbutton{
	position: relative;
    left: 5%;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}